@import 'tailwindcss';

@plugin "daisyui" {
	themes: all;
	darktheme: 'dracula';
	defaulttheme: 'light';
	logs: true; /* Enable logs to check theme generation */
}

/* Keep any existing custom styles below */
